body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #f8f9fa;
    padding: 1rem 0;
}

.navbar-brand.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 20px;
}

.logo-img {
    height: 50px;
    margin-right: 10px;
}

.carousel-item img {
    height: 70vh;
    object-fit: cover;
    width: 100%;
}

.carousel-inner img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

section {
    margin: 2rem 0;
}

h2, h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

ul li i {
    margin-right: 10px;
    color: #007bff;
}

.card {
    background-color: #f8f9fa;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 1rem;
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.2rem;
    color: #333;
}

.card-body p {
    font-size: 1rem;
    color: #555;
}

.accordion-button {
    font-size: 1.2rem;
    color: #007bff;
}

.accordion-body ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

.contacto .formulario {
    max-width: 600px;
    margin: 0 auto;
}

.contacto .form-label {
    font-size: 1rem;
}

.contacto .form-control, .contacto .btn {
    font-size: 1rem;
}

.contacto .info-contacto {
    text-align: center;
    margin-top: 2rem;
}

.contacto .row {
    margin-top: 2rem;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    font-size: 2rem;
}

.footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem 0;
}

.footer p {
    margin: 0;
    color: #555;
}
